In [1]:
# Import delle librerie necessarie
import pandas as pd
import mysql.connector

In [2]:
# Connessione al database
connection = mysql.connector.connect(
  host="localhost",
  user="root",
  password="#",
  database="tagman5"
)

# Verifica della connessione
if connection.is_connected():
  print("Connessione al database effettuata con successo.")
else:
  print("Errore durante la connessione al database.")

Connessione al database effettuata con successo.

In [3]:
# Query SQL per unire le tabelle sample, annotation, class metrics, method metrics
sql_query = '''
SELECT *
FROM class_metrics
INNER JOIN method_metrics ON class_metrics.type_name = method_metrics.type_name
INNER JOIN annotation ON class_metrics.id = annotation.sample_id
INNER JOIN sample ON sample.id = annotation.sample_id
'''

# Esecuzione della query e conversione dei risultati in un dataframe Pandas
result = pd.read_sql_query(sql_query,connection)

C:\Users\dario\AppData\Local\Temp\ipykernel_16468\1475038157.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(sql_query,connection)

In [4]:
# variabili potenzialmente da eliminare(verificare con i grafici) 'id' , 'pc', 'designite_id', 'path_to_file', 'sample_constraints'
result.drop(['id', 'pc', 'designite_id', 'path_to_file', 'sample_constraints', 'package_name', 'project_name', 'type_name', 'method_name'], axis=1, inplace=True)

In [5]:
result.columns

Index(['dit', 'fanin', 'fanout', 'lcom', 'loc', 'nc', 'nof', 'nom', 'nopf',
       'nopm', 'wmc', 'cc', 'loc', 'iscm', 'isim', 'islp', 'isma', 'is_smell',
       'sample_id', 'has_smell', 'is_class', 'smells'],
      dtype='object')

In [6]:
#stampa del dataframe
result

,dit,fanin,fanout,lcom,loc,nc,nof,nom,nopf,nopm,...,loc,iscm,isim,islp,isma,is_smell,sample_id,has_smell,is_class,smells
0,0,0,1,-1.0,8,0,0,1,0,1,...,3,0,0,0,1,0,3,1,1,3
1,0,0,1,-1.0,8,0,0,1,0,1,...,3,0,0,0,1,0,3,1,1,3
2,0,2,0,-1.0,4,0,0,2,0,0,...,0,0,0,0,1,0,15,1,1,3
3,0,2,0,-1.0,4,0,0,2,0,0,...,0,0,0,0,1,0,15,1,1,3
4,1,1,9,0.7142857142857143,50,0,3,7,0,6,...,13,0,0,0,1,0,19,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566847,0,3,0,0.4,43,0,3,5,0,5,...,3,0,0,0,0,0,4411,1,0,1
566848,0,3,0,0.4,43,0,3,5,0,5,...,6,1,0,0,0,0,4411,1,0,1
566849,0,3,0,0.4,43,0,3,5,0,5,...,6,0,0,0,0,0,4411,1,0,1
566850,0,1,5,0.0,16,0,2,2,0,2,...,7,0,0,0,0,0,4389,1,0,1
566851,0,1,5,0.0,16,0,2,2,0,2,...,5,0,0,0,0,0,4389,1,0,1

In [7]:
# # Lettura dei dati dalle tabelle SQL in DataFrame pandas
# class_metrics = pd.read_sql_query("SELECT * from class_metrics", connection)
# method_metrics = pd.read_sql_query("SELECT * from method_metrics", connection)
# sample = pd.read_sql_query("SELECT * from sample", connection)
# annotation = pd.read_sql_query("SELECT * from annotation", connection)
# # smell = pd.read_sql_query("SELECT * from smell", connection)

In [8]:
# #Drop column class matrics
# class_metrics.drop(['id'], axis=1, inplace=True)
# method_metrics.drop(['id', 'pc'], axis=1, inplace=True)
# sample.drop(['designite_id', 'path_to_file', 'sample_constraints'], axis=1, inplace=True)

In [9]:
#prime bozze, ma presentavano alcuni errori. La memoria occupata era troppa ed era impossibile effettuare il merge
# # Unione dei dati in un unico DataFrame
# df = pd.merge(class_metrics, method_metrics, on=['package_name', 'project_name', 'type_name'], how='inner')
# df = pd.merge(df, sample, on='project_name', how='inner')
# #df = pd.merge(df, annotation, left_on='id', right_on='sample_id', how='inner')

In [10]:
# Rimozione delle colonne non necessarie
# df.drop(['id_x', 'id_y', 'sample_id'], axis=1, inplace=True)

In [11]:
# Trasformazione dei valori 'varchar' in interi/float per la classe sample (0 o 1) poiché la randomForest accetta solo valori numerici
result['smells'] = result['smells'].str.replace(',', '.').replace("",0).astype(float).astype(int)

In [12]:
#trasformare i restanti valori e andare avanti